<footer>

    <div class="footer-container">

      <div>
        <h4>Dernek Hakkında</h4>

        <p>
          Ankara Üniversitesi Tıp Fakültesi, İç Hastalıkları Anabilim Dalı 
          öğretim üyeleri tarafından kurulmuş, bilimsel ve sosyal faaliyetleri destekleyen
          sivil toplum kuruluşu.
        </p>
      </div>

      <div>
        <h4>İletişim</h4>

        <p>
          Telefon: 0 312 508 22 48<br>
          E-Posta: info@ankaraichastaliklari.org.tr<br>
          Ankara / Türkiye
        </p>
      </div>


    </div>

    <div class="copyright">
      © 2026 Ankara İç Hastalıkları Araştırma Geliştirme Derneği - Tüm Hakları Saklıdır
    </div>

  </footer>
