<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dernek Web Sitesi</title>


</head>

<body>

  <!-- HEADER -->
  <header>
    <div class="logo-area">

      <!-- LOGO -->
      <img src="logo.png" alt="Dernek Logo">

      <div class="logo-text">
        <h1>Ankara İç Hastalıkları Araştırma Geliştirme Derneği</h1>
      </div>

    </div>
  </header>

  <!-- MENU -->
<nav>
  <ul>
    <li><a href="index.html">Anasayfa</a></li>
    <li><a href="hakkimizda.html">Hakkımızda</a></li>
    <li><a href="tuzuk.html">Tüzük</a></li>
    <li><a href="yonetim.html">Yönetim Kurulu</a></li>
    <li><a href="etkinlikler.html">Etkinlikler</a></li>
    <li><a href="duyurular.html">Duyurular</a></li>
    <li><a href="iletisim.html">İletişim</a></li>
  </ul>
</nav>

  <!-- HERO -->
  <section class="hero">
    <h2>Ankara İç Hastalıkları Araştırma Geliştirme Derneği</h2>
  </section>

  <!-- DUYURULAR -->
  <section class="announcements">

    <h2 class="section-title">Duyurular</h2>

    <div class="cards">

      <div class="card">
        <h3>İç Hastalıkları Araştırma Görevlilerine Yönelik Klinik Ultrasonografi Kursu (28 Haziran 2026)</h3>
        <p>
          Fakültemiz İç Hastalıkları Anabilim Dalı öğretim üyeleri Doç. Dr. Uğur Özdemir ve Dr. Öğr. Üy. Ali Can Kurtipek tarafından gerçekleştirilecek olan ” İç Hastalıkları Araştırma Görevlilerine Yönelik Klinik UltraUltrasonografi Kursu” etkinliği 28 Haziran 2026 günü 09:00-17:00 saatleri arasında Morfoloji Binası Mavi Salon’da gerçekleştirilecektir.
        </p>

        <a href="#">Kurs programı →</a>
      </div>

      <div class="card">
        <h3>İç Hastalıkları Araştırma Görevlilerine Yönelik Klinik Ultrasonografi Kursu (20 Haziran 2026)</h3>
        <p>
          Fakültemiz İç Hastalıkları Anabilim Dalı öğretim üyeleri Doç. Dr. Uğur Özdemir ve Dr. Öğr. Üy. Ali Can Kurtipek tarafından gerçekleştirilecek olan ” İç Hastalıkları Araştırma Görevlilerine Yönelik Klinik UltraUltrasonografi Kursu” etkinliği 20 Haziran 2026 günü 09:00-17:00 saatleri arasında Morfoloji Binası Mavi Salon’da gerçekleştirilecektir.
        </p>

        <a href="#">Kurs programı →</a>
      </div>

    </div>

  </section>

  <!-- FOOTER -->
  <footer>

    <div class="footer-container">

      <div>
        <h4>Dernek Hakkında</h4>

        <p>
          Ankara Üniversitesi Tıp Fakültesi, İç Hastalıkları Anabilim Dalı 
          öğretim üyeleri tarafından kurulmuş, bilimsel ve sosyal faaliyetleri destekleyen
          sivil toplum kuruluşu.
        </p>
      </div>

      <div>
        <h4>İletişim</h4>

        <p>
          Telefon: 0 312 508 22 48<br>
          E-Posta: info@ankaraichastaliklari.org.tr<br>
          Ankara / Türkiye
        </p>
      </div>


    </div>

    <div class="copyright">
      © 2026 Ankara İç Hastalıkları Araştırma Geliştirme Derneği - Tüm Hakları Saklıdır
    </div>

  </footer>

</body>
</html>
